
parabola:
  arches: ['x86_64', 'i686', 'armv7h', 'ppc64le']
  repos: ['libre', 'pcr', 'nonprism']
  abslibre: git://git.parabola.nu/abslibre/abslibre.git
  mirror: rsync://repo.parabola.nu:875/repos/

fixhooks:
  enabled: no
  scriptroot: /usr/lib/parabola-repolint/fixhooks/
  abslibre: null

notify:
  etherpad_url: https://pad.riseup.net/p/ParabolaRepolint
  smtp_host: null
  smtp_port: 587
  smtp_sender: null
  smtp_receiver: maintenance@lists.parabola.nu
  smtp_login: null
  smtp_password: null
  logfile_dest: ~/.cache/parabola-repolint/output

gnupg:
  gpgdir: /etc/pacman.d/gnupg/
  keyserver: hkp://keys.gnupg.net

logging:
  version: 1
  formatters:
    brief:
      format: '%(levelname)s: %(message)s'
    verybrief:
      format: '%(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      formatter: brief
      level: INFO
      stream: ext://sys.stdout
    telegram:
      class: parabola_repolint.telegram_logging.TelegramHandler
      formatter: verybrief
      level: WARNING
      token: null
      chat_id: null
  loggers:
    '':
      handlers: [console,telegram]
      level: DEBUG
