
general:
  loglevel: WARNING

parabola:
  maintainer: John Doe <john.doe@example.com>
  repo_path: /path/to/abslibre
  reposdbs: ['libre', 'pcr', 'nonprism']
  arches: ['x86_64', 'i686', 'armv7h']

mirrors:
  parabola: http://mirror.example.com
  archlinux: http://mirror.example.com
  archlinux32: http://mirror.example.com
  archlinuxarm: http://mirror.example.com

notification:
  telegram:
    token: "<token>"
    chat_id: "<chat_id>"
